/* RESET
--------------------------------------------------------------*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td { margin: 0; padding: 0; border: 0; outline: 0; font-size: 100%; vertical-align: baseline; background: transparent; }

body { line-height:1; }
ol, ul { list-style:none; }
blockquote, q { quotes:none; }
blockquote:before, blockquote:after,
q:before, q:after { content:''; content:none; }

/* remember to define focus styles! */
:focus { outline:0; }

/* remember to highlight inserts somehow! */
ins { text-decoration:none; }
del { ext-decoration:line-through; }

/* tables still need 'cellspacing="0"' in the markup */
table { border-collapse:collapse; border-spacing:0; }

.clear { clear:both; }
.clear0 { clear:both; height:5px; }
.clear1 { clear:both; height:10px; }
.clear2 { clear:both; height:20px; }
.clear3 { clear:both; height:30px; }
.clear4 { clear:both; height:40px; }

/*enable this code to view div border*/
.jabee { border:1px #FF0000 solid; }

 


/*MAIN
--------------------------------------------------------------*/
body { background:#e2bb91 url(../images/bg.png) repeat; font-family:Arial, Helvetica, sans-serif; font-size:12px; }
.wrapper { width:1114px; margin:0 auto; }

#vmehldr { background-color:#FFF; width:100%; -webkit-box-shadow: 0px 1px 7px rgba(50, 50, 50, 0.22); -moz-box-shadow:0px 1px 7px rgba(50, 50, 50, 0.22); box-shadow:0px 1px 7px rgba(50, 50, 50, 0.22); float:left; margin-top:18px; -webkit-border-top-left-radius:7px; -webkit-border-top-right-radius:7px; -moz-border-radius-topleft:7px; -moz-border-radius-topright:7px; border-top-left-radius:7px; border-top-right-radius:7px; }



/*TOP
--------------------------------------------------------------*/
#top { position:relative; }
#top .tp1 { height:36px; background:#026dc7 url(../images/img1.png) repeat-x; border-bottom:1px solid #004c90; -webkit-border-top-left-radius:7px; -webkit-border-top-right-radius:7px; -moz-border-radius-topleft:7px; -moz-border-radius-topright:7px; border-top-left-radius:7px; border-top-right-radius:7px; }
#top .tp2 { height:32px; line-height:32px; border-top:1px solid #006ac3; border-bottom:1px solid #004177; background-color:#005ca9; color:#5b9eda; text-shadow:1px 1px #00307e; }
#top .tp2 .lbl { min-width:20px; float:left; margin-left:15px; margin-right:11px; font-size:10px; text-transform:uppercase; }
#top .tp2 .srchbx { width:1013px;  height:24px; float:left;line-height:24px; background:url(../images/img2.png) no-repeat; border:none; margin:4px 0 0 0; }
#top .tp2 .srchbx input[type="text"] { width:97%; height:14px; line-height:14px; background:none; border:none; font-size:11px; color:#8e8e8e; margin:4px 0 0 10px; float:left; }
#top .tp2 .srchbx input[type="button"] { width:15px; height:14px; border:none; background:none; float:left; margin:4px 0 0 0; cursor:pointer; text-indent:-999px; overflow:hidden; }
#top .tp2 .dropmenu { width:14px; height:14px; float:left; background:url(../images/img3.png) no-repeat; margin:9px 0 0 8px; }

#top .logo { width:203px; height:31px; background:url(../images/vintelmed-logo.png) no-repeat; float:left; margin:4px 0 0 7px; }
#top .logo a { display:block; width:203px; height:31px; text-indent:-999px; overflow:hidden; cursor:pointer; }
#top .timedate { min-width:10px; line-height:36px; float:right; margin-right:15px; font-size:11px; color:#89ccff; text-align:right; }
#top .prflnk { min-width:10px; line-height:36px; float:right; margin-right:10px; font-size:11px; color:#ffcd47; text-align:right; }
#top .prflnk a { text-decoration:none; color:#ffcd47; }
#top .prflnk a:hover { text-decoration:underline; }



/*MID
--------------------------------------------------------------*/
#mid { width:100%; min-height:100px; background:url(../images/img4.png) top left repeat-y; }

/*Sidebar*/
#sidebar { width:76px; float:left; color:#9d9c9a; border-left:1px solid #181818; border-right:1px solid #181818; font-size:10px; text-align:center; margin-bottom:100px; }
#sidebar ul { list-style:none; margin:0; padding:0; }
#sidebar li { height:67px; border-bottom:1px solid #181818; border-top:1px solid #49515b; position:relative; }
#sidebar li:first-child { border-top:none; }
#sidebar li:hover { background-color:#49515b; }
#sidebar li a { text-decoration:none; color:#9d9c9a; }
#sidebar li a:hover { color:#ddd9d2; }
#sidebar li img { border:none; }
#sidebar li .lgt { display:none; width:7px; height:67px; background:url(../images/img5.png) no-repeat; position:absolute; top:0; left:0; }
#sidebar li:hover .lgt { display:block; }

#sidebar .active { background-color:#49515b; }
#sidebar .active { position:relative; }
#sidebar .active a { color:#ddd9d2; }
#sidebar .active .lgt { display:block; }

#sidebar li .icn { width:100%; height:38px; margin-bottom:7px; }
#sidebar li .bg1 { background:url(../images/dashboard-icon.png) center bottom no-repeat; }
#sidebar li .bg2 { background:url(../images/inventory-icon.png) center bottom no-repeat; }
#sidebar li .bg3 { background:url(../images/clients-icon.png) center bottom no-repeat; }
#sidebar li .bg4 { background:url(../images/employees-icon.png) center bottom no-repeat; }
#sidebar li .bg5 { background:url(../images/reports-icon.png) center bottom no-repeat; }
#sidebar li .bg6 { background:url(../images/settings-icon.png) center bottom no-repeat; }
#sidebar li .bg7 { background:url(../images/orders-icon.png) center bottom no-repeat; }

/*Content*/
#cntnt { width:1036px; float:left; padding-bottom:10px; }
#cntnt .tbl { min-height:100px; background-color:#FFF; border:1px solid #d0d8df; -webkit-border-top-left-radius:4px; -webkit-border-top-right-radius:4px; -moz-border-radius-topleft:4px; -moz-border-radius-topright:4px; border-top-left-radius:4px; border-top-right-radius:4px; -webkit-box-shadow: 0px 1px 1px rgba(50, 50, 50, 0.11); -moz-box-shadow:0px 1px 1px rgba(50, 50, 50, 0.11); box-shadow:0px 1px 1px rgba(50, 50, 50, 0.11); }
#cntnt .title { height:33px; line-height:35px;  font-size:14px; color:#7e858c; font-weight:bold; padding-left:10px; text-transform:uppercase; text-shadow:1px 1px #fbfcfd; -webkit-border-top-left-radius: 4px; -webkit-border-top-right-radius: 4px; -moz-border-radius-topleft: 4px; -moz-border-radius-topright: 4px; border-top-left-radius: 4px; border-top-right-radius: 4px; background:#eff3f7 url(../images/img6.png) center top repeat-x; border-bottom:1px solid #d0d8df; }
#cntnt .settings { width:26px; height:19px; border:none; float:right; margin:7px 7px 0 0; background:url(../images/st.png) no-repeat; border:none; text-indent:-999px; overflow:hidden; cursor:pointer; }
#cntnt .download { width:26px; height:19px; border:none; float:right; margin:7px 7px 0 0; background:url(../images/dl.png) no-repeat; border:none; text-indent:-999px; overflow:hidden; cursor:pointer; }
#cntnt .view { width:26px; height:19px; border:none; float:right; margin:7px 7px 0 0; background:url(../images/vw.png) no-repeat; border:none; text-indent:-999px; overflow:hidden; cursor:pointer; }


/*Total*/
.total { height:30px; background:url(../images/img11.png) repeat-x; border-top:1px solid #d0d8df; font-weight:bold; }
.total ul { list-style:none; margin:0; }
.total table { table-layout:fixed; margin:0; padding:0; }
.total table td:first-child { border-left:none; }
.total td { height:30px; line-height:30px; border-left:1px solid #d0d8df; font-size:11px; font-weight:bold; text-align:center; color:#96a2ac; text-transform:uppercase; }


/*Sub Title*/
.sbtle { height:34px; background:#eff3f7 url(../images/img7.png) repeat-x; border-bottom:1px solid #d0d8df; position:relative; }
.sbtle .shdw { width:100%; height:3px; position:absolute; left:0; bottom:-4px; background:url(../images/img8.png) repeat-x;z-index:1; }
.sbtle ul { list-style:none; margin:0; }
.sbtle table { table-layout:fixed; margin:0; padding:0; }
.sbtle table td:first-child { border-left:none; }
.sbtle td { border-left:1px solid #d0d8df; font-size:10px; text-align:center; color:#96a2ac; text-transform:uppercase; }

.sbtle2 { height:20px; line-height:20px; background:#eff3f7 url(../images/img10.png) repeat-x; border-bottom:1px solid #d0d8df; position:relative; }
.sbtle2 .shdw { width:100%; height:3px; position:absolute; left:0; bottom:-4px; background:url(../images/img8.png) repeat-x;z-index:1; }
.sbtle2 ul { list-style:none; margin:0; }
.sbtle2 table { table-layout:fixed; margin:0; padding:0; }
.sbtle2 table td:first-child { border-left:none; }
.sbtle2 td { border-left:1px solid #d0d8df; font-size:10px; text-align:center; color:#96a2ac; text-transform:uppercase; }

/*Select Dropdown*/
.slct { width:94px; height:19px; background:#fff url(../images/img9.png) center top repeat-x; float:right; margin:7px 7px 0 0; border:1px solid #c4cdd5; color:#9d9d9d; font-size:10px; text-transform:none; -webkit-border-radius:3px; -moz-border-radius:3px; border-radius:3px; }
.slct2 { width:52px; height:19px; background:#fff url(../images/img9.png) center top repeat-x; float:right; margin:7px 7px 0 0; border:1px solid #c4cdd5; color:#9d9d9d; font-size:11px; text-transform:none; -webkit-border-radius:3px; -moz-border-radius:3px; border-radius:3px; }


/*Table List*/
.scrl-1 { height:288px; }
.scrl-2 { height:217px; }
.scrl-3 { height:200px; }

.tblist { min-height:100px; }
.tblist table { table-layout:fixed; margin:0; padding:0; }
.tblist table td:first-child { border-left:none; }
.tblist td { border-left:1px solid #d0d8df; border-bottom:1px solid #d0d8df; padding:13px 5px 13px 5px; font-size:10px; color:#88949e; text-transform:uppercase; break-word:word-wrap; }
.tblist tr:nth-child(odd) { background-color:#fff; }
.tblist tr:nth-child(even) { background-color:#fffdf6; }
.tblist .lnkicn { width:8px; height:8px; margin:2px 0 0 13px; }
.tblist .lnkicn2 { width:8px; height:8px; margin:2px 0 0 2px; }

/*Column Width*/
.wd1-1 { width:107px; line-height:35px; }
.wd1-2 { width:114px; line-height:35px; }
.wd1-3 { width:98px; line-height:35px; }
.wd1-4 { width:127px; line-height:35px; }
.wd1-5 { width:72px; vertical-align:top; padding-top:9px; }
.wd1-6 { width:80px; vertical-align:top; padding-top:9px; }
.wd1-7 { width:84px; vertical-align:top; padding-top:9px; }
.wd1-8 { width:95px; vertical-align:top; padding-top:9px; }
.wd1-9 { width:53px; }
.wd1-10 { width:78px; vertical-align:top; padding-top:9px; }
.wd1-11 { width:53px; }
.wd1-12 { width:35px; }

.wd2-1 { width:109px; max-width:109px; }
.wd2-2 { width:119px; max-width:119px; }
.wd2-3 { width:101px; max-width:101px; }
.wd2-4 { width:132px; max-width:132px; }
.wd2-5 { width:75px; max-width:75px; text-align:right; }
.wd2-6 { width:86px; max-width:86px; text-align:right; }
.wd2-7 { width:92px; max-width:92px; text-align:right; }
.wd2-8 { width:92px; max-width:92px; }
.wd2-9 { width:50px; max-width:50px; text-align:right; }
.wd2-10 { width:84px; max-width:84px; text-align:right; }
.wd2-11 { width:50px; max-width:50px; text-align:right; }
.wd2-12 { width:34px; max-width:34px; }

.wd3-1 { width:48px; }
.wd3-2 { width:136px; }
.wd3-3 { width:91px; }
.wd3-4 { width:74px; }
.wd3-5 { width:47px; }
.wd3-6 { width:79px; }
.wd3-7 { width:19px; }

.wd3-8 { width:38px; max-width:38px; text-align:center; }
.wd3-9 { width:126px; max-width:126px; }
.wd3-10 { width:81px; }
.wd3-11 { width:64px; max-width:64px; text-align:right; }
.wd3-12 { width:37px; max-width:37px; text-align:center; }
.wd3-13 { width:69px; max-width:69px; text-align:right; }
.wd3-14 { width:10px; max-width:10px; }

.wd4-1 { width:185px; max-width:185px; text-align:center; }
.wd4-2 { width:91px; max-width:91px; text-align:right; }
.wd4-3 { width:74px; max-width:74px; text-align:right; }
.wd4-4 { width:47px; max-width:47px; text-align:center; }
.wd4-5 { width:79px; max-width:79px; text-align:right; }
.wd4-6 { width:10px; max-width:10px; }


/*Table Boxes*/
#cntnt .tbl1 { width:1014px; margin:10px 0 0 10px; }
#cntnt .tbl2 { width:501px; margin:10px 0 0 10px; float:left; }
#cntnt .tbl3 { width:1004px; height:500px; margin:10px 0 0 10px; background-color:#FFF; border:1px solid #d0d8df; box-shadow:0px 1px 1px rgba(50, 50, 50, 0.11); }

#divscroll { width: 1004px; height: 100px; }
#divscroll .overview { width: 1900px; }



/*OTHERS
--------------------------------------------------------------*/

